.App {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
}
#conteudo{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
}
#conteudo > p{
  margin-left: 30px;
  margin-top: 0px;
  max-width: 600px;
}
.editor {
  border-radius: 100px;
  width: initial fixed;
  max-width: initial;
  border-radius: 100px;
}
.ck-editor__editable {
  min-height: 500px;
  max-width: 610.5px;
  border-radius: 100px;
}